<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Level-II </title>
    <link rel="stylesheet" href="{% static "css/mystyle.css"%}"/>
  </head>
  <body>
      <h1>Hi Welcome to Django level-II</h1>
      <h2>Here are records:</h2>
      <div class="djangtwo">
        {% if access_records%}
          <table>
            <thead>
              <th>Site Name</th>
              <th>Date Acessed</th>
            </thead>
            {% for acc in access_records %}
            <tr>
              <td>{{acc.name}}</td>
              <td>{{acc.date}}</td>
            </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>No AcessRecord found</p>
        {% endif %}
      </div>

  </body>
</html>
