<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>
  <body>


    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome</h1>
        <h2 class="lead">Go to /users to signup or press the button</h2>
        <a href="users" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">SignUp</a><br><br>
        <a href="admin" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Log in as an Admin</a>
      </div>
    </div>

  </body>
</html>
