<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Base</title>
  </head>
  <body>

    <nav class ="navbar navbar-default navbar-static-top">
      <ul class="nav navbar-nav">
        <li><a class= "navbar-brand" href="{% url 'basic_app:list' %}">Schools</a></li>
        <li> <a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
        <li> <a href="#"></a></li>

      </ul>

    </nav>

    {% block body_block %}
    {% endblock %}
  </body>
</html>
